{% extends '@Layout/Page/Full/base.html.twig' %}
{% block content %}

{{ form_start(form) }}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <ul id="email-fields-list" data-prototype="{{ form_widget(form.solution.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}">
        {% for emailField in form.solution %}
            <li>
                {{ form_widget(emailField) }}
            </li>
        {% endfor %}
    </ul>

    <a href="#"
       class="add-another-collection-widget"
       data-list="#email-fields-list">Add another email</a>

    {{ form_end(form) }}


    {% block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>

        <script>
            jQuery(document).ready(function () {
                jQuery('.add-another-collection-widget').click(function (e) {
                    e.preventDefault();
                    var list = jQuery(jQuery(this).attr('data-list'));
                    // Try to find the counter of the list
                    var counter = list.data('widget-counter') | list.children().length;
                    console.log(counter);
                    // If the counter does not exist, use the length of the list
                    if (!counter) { counter = list.children().length; }

                    // grab the prototype template
                    var newWidget = list.attr('data-prototype');
                    // replace the "__name__" used in the id and name of the prototype
                    // with a number that's unique to your emails
                    // end name attribute looks like name="contact[emails][2]"
                    newWidget = newWidget.replace(/__name__/g, counter);
                    // Increase the counter
                    counter++;
                    // And store it, the length cannot be used if deleting widgets is allowed
                    list.data(' widget-counter', counter);

                    // create a new list element and add it to the list
                    var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                    newElem.appendTo(list);
                });
            });
        </script>
    {% endblock %}
{% endblock %}