{% extends '@Layout/Page/Full/base.html.twig' %}

{% block body %}
    {% embed '@Layout/Component/Box/box_primary.html.twig' %}

        {% block head %}{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}{% endblock %}

        {% block header %}
            <h3 class="box-title">Edition Quiz</h3>
        {% endblock %}

        {% block body %}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.title) }}</label>
                <div class="col-sm-10">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}} ) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.description) }}</label>
                <div class="col-sm-10">
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}} ) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.category) }}</label>
                <div class="col-sm-10">
                    {{ form_widget(form.category, {'attr': {'class': 'form-control'}} ) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.startingDate) }}</label>
                <div class="col-sm-10">
                    {{ form_widget(form.startingDate, {'attr': {'class': 'form-control'}} ) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.endingDate) }}</label>
                <div class="col-sm-10">
                    {{ form_widget(form.endingDate, {'attr': {'class': 'form-control', 'id': 'date-time-picker-ending-date'}} ) }}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ form_label(form.resettable) }}</label>
                <div class="checkbox">
                    <label class="col-sm-10">
                        {{ form_widget(form.resettable) }}
                    </label>
                </div>
            </div>
        {% endblock %}

        {% block footer %}
            {{ form_row(form.save, {'label': 'Save change', 'attr': {'class': 'btn btn-info pull-right'}}) }}
        {% endblock %}

        {% block foot %}{{ form_end(form) }}{% endblock %}

    {% endembed %}
{% endblock %}


{% block javascripts %}
    <script>
        $('#quiz_creation_startingDate').datetimepicker({
            format: 'DD/MM/YYYY HH:mm'
        });

        $('#quiz_creation_endingDate').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            format: 'DD/MM/YYYY HH:mm'
        });

        $("#quiz_creation_startingDate").on("dp.change", function (e) {
            $('#quiz_creation_endingDate').data("DateTimePicker").minDate(e.date);
        });

        $("#quiz_creation_endingDate").on("dp.change", function (e) {
            $('#quiz_creation_startingDate').data("DateTimePicker").maxDate(e.date);
        });
    </script>
{% endblock %}
