<div id="Register" class="tabcontent">
    <img class="mx-auto d-block" src="{{ asset('assets/svg/logo.svg') }}">
    {{ form_start(form, {'action': path('app_user_authentication_signing_register')}) }}
        <div class="sign-form">
            <div class="form-group">
                <label for="inputBooster">{{ form_label(form.idBooster) }}</label>
                {{ form_widget(form.idBooster, {'attr': {'class': 'form-control', 'placeholder': 'Enter your ID BOOSTER'}}) }}
                <small id="inputBoosterHelp" class="form-text text-muted">ID Boosters are given by Supinfo.</small>
            </div>
            <div class="form-group">
                <label for="inputPassword1">{{ form_label(form.plainPassword.first) }}</label>
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
            </div>
            <div class="form-group">
                <label for="inputPassword2">{{ form_label(form.plainPassword.second) }}</label>
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
            </div>
        </div>
        {{ form_widget(form.submit, {'attr': {'class': 'btn custom-full-btn'}}) }}
    {{ form_end(form) }}
</div>