{% extends '@Layout/Page/Full/base.html.twig' %}
{% import '@Layout/Component/Breadcrumb/breadcrumb.html.twig' as breadcrumb %}

{% block header %}
    <h1>
        Category edition
        <small>Edit all existing category with information</small>
    </h1>
    {{ breadcrumb.full(
    [
    'Administration',
    'Category',
    'Edition'
    ],
    [
    '#',
    path('app_admin_category_listing_list'),
    path('app_admin_category_edition_edit', {'id': category.id})
    ],
    'fa fa-folder-open'
    )
    }}
{% endblock %}

{% block body %}
    <div class="box box-info">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="box-header with-border">
            <h3 class="box-title">Edit Category</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <label for="quiz_creation_description" class="required">{{ form_label(form.title) }}</label>
                </label>
                <label class="col-sm-10">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <label for="quiz_creation_description" class="required">{{ form_label(form.description) }}</label>
                </label>
                <label class="col-sm-10">
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                </label>
            </div>
        </div>
        <div class="box-footer">
            {{ form_widget(form.save, {'label': 'Save'}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}