{% macro raw(lines) %}
    <ol class="breadcrumb">
        {% for line in lines %}
            {{ line }}
        {% endfor %}
    </ol>
{% endmacro %}

{% macro short(contents) %}
    {% import _self as self %}
    {% set lines = [] %}
    {% for content in contents %}
        {% set line %}
            <li{% if loop.last %} class="active"{% endif %}>{{ content }}</li>
        {% endset %}
        {% set lines = lines|merge([line]) %}
    {% endfor %}
    {{ self.raw(lines) }}
{% endmacro %}

{% macro withLinks(contents, links) %}
    {% import _self as self %}
    {% set contentsWithLinks = [] %}
    {% for key, content in contents %}
        {% set line %}
            <a href="{% if links[key] is defined %}{{ links[key] }}{% else %}#{% endif %}">{{ content }}</a>
        {% endset %}
        {% set contentsWithLinks = contentsWithLinks|merge([line]) %}
    {% endfor %}
    {{ self.short(contentsWithLinks) }}
{% endmacro %}

{% macro full(contents, links, icon) %}
    {% import _self as self %}

    {% set line %}
        <i class="{{ icon }}"></i>{{ contents[0] }}
    {% endset %}
    {% set contents = [line]|merge(contents|slice(1)) %}
    {{ self.withLinks(contents, links) }}

{% endmacro %}