{% extends '@Layout/Page/Full/base.html.twig' %}

{% block body %}
    <div class="box box-info">
        {{ form_start(form) }}
        <div class="box-header with-border">
            <h3>{{ question.title }}</h3>
            <p>{{ question.text }}</p>
        </div>
        <div class="box-body">
                {% for key,response in question.responses %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">

                        </label>
                        <label class="col-sm-10 control-label">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" id="answer_creation_value_{{ key }}" name="answer_creation[value][{{ key }}]" value="1">
                                </span>
                                <div class="form-control">{{ response }}</div>
                            </div>
                        </label>
                    </div>
                {% endfor %}
        </div>
        <div class="box-footer">

            {{ form_widget(form.save, {'attr': {'class': 'btn btn-info pull-right'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}