{% extends '@Layout/Page/Full/base.html.twig' %}

{% block sub_title %}{{ 'tab_sub_title.results'|trans({}, 'label') }}{% endblock sub_title %}

{% block content %}
    {% set percentage = 100 * rightAnswers|length/quiz.questions|length %}
    <div class="content result-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center mb-4">{{ 'quiz.results.completed'|trans({}, 'messages') }} <span
                                class="text-muted">{{ quiz.title }}</span></h3>
                    {% if percentage < 40 %}
                        <h1 class="text-center big-title wrong">{{ 'quiz.results.score.wrong'|trans({}, 'messages') }}</h1>
                    {% elseif percentage < 75 %}
                        <h1 class="text-center big-title intermediate">{{ 'quiz.results.score.intermediate'|trans({}, 'messages') }}</h1>
                    {% elseif percentage != 100 %}
                        <h1 class="text-center big-title check">{{ 'quiz.results.score.well'|trans({}, 'messages') }}</h1>
                    {% else %}
                        <h1 class="text-center big-title check">{{ 'quiz.results.score.perfect'|trans({}, 'messages') }}</h1>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-1 p-3 pb-5 result-progress">
                <div class="col-12">
                    <div class="progress">
                        <div class="progress-bar progress-{% if percentage < 40 %}wrong{% elseif percentage < 75 %}intermediate{% else %}check{% endif %}"
                             role="progressbar" style="width: {{ percentage }}%"
                             aria-valuenow="{{ rightAnswers|length }}" aria-valuemin="0"
                             aria-valuemax="{{ quiz.questions|length }}">{{ rightAnswers|length }}/{{ quiz.questions|length }}</div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 p-5">
                <div class="col-6">
                    <h3 class="text-center result-items-title">{{ 'quiz.results.answers.correct'|trans({}, 'messages') }}</h3>
                    {% for rightAnswer in rightAnswers %}
                        <p class="result-item">
                            <i class="fas fa-check check"></i> <b>{{ rightAnswer.question.title }}</b>
                            {% for keyValue, value in rightAnswer.value %}
                                <span class="result-item-response"><i class="fas fa-caret-right"></i>
                                    {% for keyResponse,response in rightAnswer.question.responses %}
                                        {% if keyResponse == keyValue %}
                                            {{ response }}
                                        {% endif %}
                                    {% endfor %}
                            </span>
                            {% endfor %}
                        </p>
                    {% endfor %}
                </div>
                <div class="col-6">
                    <h3 class="text-center result-items-title">{{ 'quiz.results.answers.wrong'|trans({}, 'messages') }}</h3>
                    {% for wrongAnswer in wrongAnswers %}
                        <p class="result-item">
                            <i class="fas fa-times wrong"></i> <b>{{ wrongAnswer.question.title }}</b>
                            {% for keyValue, value in wrongAnswer.value %}
                                {% for keyResponse,response in wrongAnswer.question.responses %}
                                    {% if keyValue == keyResponse %}
                                        <span class="result-item-response"><i class="fas fa-caret-right"></i>
                                            {{ response }}
                                            </span>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}