{% extends '@Layout/Page/Default/base.html.twig' %}

{% block sub_title %}Change Password{% endblock sub_title %}

{% block body %}
    <div class="sign-page">
        <div class="container align-items-center h-100">
            <div class="sign-wrapper mx-auto">
                <div class="tabcontent" style="display: block;">
                    <img class="mx-auto d-block" src="{{ asset('assets/svg/logo.svg') }}">
                    {{ form_start(form) }}
                    <div class="sign-form">
                        <div class="form-group">
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'user.authentication.forgot_password.password'|trans({}, 'placeholder')}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'user.authentication.forgot_password.repeat_password'|trans({}, 'placeholder')}}) }}
                        </div>
                    </div>
                    {{ form_widget(form.submit, {'attr': {'class': 'btn custom-full-btn'}}) }}
                    {{ form_end(form)}}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}