{% extends '@Layout/Page/Default/base.html.twig' %}

{% block sub_title %}{{ 'tab_sub_title.request_new_password'|trans({}, 'label') }}{% endblock sub_title %}

{% block body %}
    <div class="sign-page">
        <div class="container align-items-center h-100">
            <div class="sign-wrapper mx-auto">
                <div class="tabcontent" style="display: block;">


                        <div class="sign-form">
                            <div class="form-group">

                            </div>
                        </div>


                </div>
            </div>
        </div>
    </div>
    <div class="sign-page">
        <div class="container align-items-center h-100">
            <div class="sign-wrapper mx-auto">
                <!-- Tab Login -->
                <div class="tabcontent-request">
                    <img class="mx-auto d-block" src="{{ asset('assets/svg/logo.svg') }}">
                    {{ form_start(form) }}
                        <div class="sign-form">
                            <p class="text-justify">{{ 'user.authentication.forgot_password'|trans({}, 'messages') }}</p>
                            <hr>
                            <div class="form-group">
                                {{ form_label(form.idBooster) }}
                                {{ form_widget(form.idBooster, {'attr': {'class': 'form-control', 'placeholder': 'user.authentication.forgot_password.id_booster'|trans({}, 'placeholder')}}) }}
                            </div>
                        </div>
                        {{ form_widget(form.submit, {'attr': {'class': 'btn custom-full-btn'}}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
