<div id="Login" class="tabcontent">
    <img class="mx-auto d-block" src="{{ asset('assets/svg/logo.svg') }}">
    {{ form_start(form) }}
        <div class="sign-form">
            <div class="form-group">
                <label for="inputBooster">{{ form_label(form._username) }}</label>
                {{ form_widget(form._username, {'attr': {'class': 'form-control', 'placeholder': 'user.authentication.login.id_booster'|trans({}, 'placeholder')}}) }}
            </div>
            <div class="form-group">
                <label for="inputPassword">{{ form_label(form._password) }}</label>
                {{ form_widget(form._password, {'attr': {'class': 'form-control', 'aria-describedBy': 'inputPasswordLost', 'placeholder': 'user.authentication.login.password'|trans({}, 'placeholder')}}) }}
                <small id="inputPasswordLost" class="form-text text-muted">
                    <a href="">{{ 'user.authentication.login.forget_password'|trans({}, 'label') }}</a>
                </small>
            </div>
            <div class="custom-control custom-checkbox">
                {{ form_widget(form._remember_me, {'attr': {'class': 'custom-control-input'}}) }}
                <label class="custom-control-label" for="_remember_me">{{ form_label(form._remember_me) }}</label>
            </div>
        </div>
        {{ form_widget(form.submit, {'attr': {'class': 'btn custom-full-btn'}}) }}

    {{ form_end(form) }}
</div>