{% extends '@Layout/Page/Default/base.html.twig' %}

{% block sub_title %}{{ 'tab_sub_title.sign'|trans({}, 'label') }}{% endblock %}

{% block body %}
    <div class="sign-page">
        <div class="container align-items-center h-100">
            <div class="sign-wrapper mx-auto">
                <div class="sign-tabs">
                    <button class="tablink"
                            onclick="openTab(event, 'Login')"{% if focus is not defined or (focus is defined and focus == 'login') %} id="defaultOpen"{% endif %}>{{ 'login'|trans({}, 'action') }}</button>
                    <button class="tablink"
                            onclick="openTab(event, 'Register')"{% if focus is defined and focus == 'register' %} id="defaultOpen"{% endif %}>{{ 'registration'|trans({}, 'action') }}</button>
                </div>
                {{ render(controller('AppBundle:User/Authentication/Signing:login')) }}
                {{ render(controller('AppBundle:User/Authentication/Signing:register')) }}
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    <script src="{{ asset('assets/js/tabs.js') }}"></script>
{% endblock javascripts %}