{% macro short(category) %}
    {% embed '@Layout/Component/Box/box.html.twig' %}
        {% block header %}
            <h3>{{ category.title }}</h3>
            <p>{{ category.description }}</p>
        {% endblock %}

        {% block body %}
            {% for quiz in category.quizzes %}
                <a href="{{ path('app_quiz_do_begin', {'id': quiz.id}) }}">
                    <div class="callout
                        {% if quiz.startingDate is null or quiz.startingDate < date('now') %}
                            {% if quiz.endingDate is null or quiz.endingDate > date('now') %}
                                callout-info
                            {% else %}
                                callout-warning
                            {% endif %}
                        {% else %}
                             callout-success
                        {% endif %}
                            ">
                        <h4>{{ quiz.title }}</h4>
                        <p>{{ quiz.description }}</p>
                    </div>
                </a>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endmacro %}