{% macro box(class, header, body, footer) %}
    <div class="box {{ class }}">
        <div class="box-header">
            {{ header|raw }}
        </div>
        <div class="box-body">
            {{ body|raw }}
        </div>
        <div class="box-footer">
            {{ footer|raw }}
        </div>
    </div>
{% endmacro %}

{% macro box_primary(header, body, footer) %}
    {% import _self as self %}
    {{ self.box('box-primary', header, body, footer) }}
{% endmacro %}
