{% set messages = app_util_console.messages() %}

{% if messages is not empty %}
    <div class="doctrina-alert-box">
        {% for key,message in messages %}
            <div id="doctrina-alert-{{ key }}" class="doctrina-alert doctrina-alert-{{ message.type }}">
                <div class="row align-items-center h-100">
                    <div class="col-4 mx-auto text-center">
                        <i class="{{ message.icon }} fa-4x"></i>
                    </div>
                    <div class="col-8 alert-text mx-auto">
                        <p>
                            {{ message.text }}
                        </p>
                        <button class="float-right btn alert-button"
                                onclick="document.getElementById('doctrina-alert-{{ key }}').style.opacity='0';">Understand
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}