{% extends '@Layout/Page/Full/base.html.twig' %}

{% block sub_title %}Contribution{% endblock sub_title %}

{% block content %}
    <div class="content">
        <div>
            <span>
                <a href="{{ path('app_course_creation_create') }}">Create new Course</a>
                <a href="{{ path('app_chapter_creation_choose_grade') }}">Create new Chapter</a>
                <a href="{{ path('app_quiz_creation_create') }}">Create new Test</a>
            </span>
        </div>
        <div>
            <span>
                <a href="{{ path('app_contribution_listing_list') }}">View my contribution</a>
            </span>
        </div>
        <div>
            <span>
                <a href="{{ path('app_vote_creation_preview') }}">Vote for other contribution</a>
            </span>
        </div>
    </div>
{% endblock content %}