{% extends '@Layout/Page/Full/base.html.twig' %}
{% import '@Layout/Component/Breadcrumb/breadcrumb.html.twig' as breadcrumb %}

{% block header %}
    <h1>
        Category listing
        <small>List all existing category with information</small>
    </h1>
    {{ breadcrumb.full(
    [
    'Administration',
    'Category',
    'Listing'
    ],
    [
    '#',
    path('app_admin_category_listing_list'),
    path('app_admin_category_listing_list')
    ],
    'fa fa-folder-open'
    )
    }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}


{% block body %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">List all Category</h3>
        </div>

        <div class="box-body">
            <div class="col-sm-12">
                <table id="category-table-listing" class="table table-bordered table-striped dataTable" role="grid"
                       aria-describedby="category-table-listing_info">
                    <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="category-table-listing" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Title(s): activate to sort column descending"
                            style="width: 217px;">
                            Title
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="category-table-listing" rowspan="1" colspan="1"
                            aria-label="Description(s): activate to sort column ascending" style="width: 266.6px;">
                            Description
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="category-table-listing" rowspan="1" colspan="1"
                            aria-label="Quiz(zes) number: activate to sort column ascending" style="width: 237.8px;">
                            Quizzes number
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr role="row" class="odd">
                            <td class="sorting_1">{{ category.title }}</td>
                            <td>{{ category.description }}</td>
                            <td>{{ category.quizzes|length }}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{ path('app_admin_category_showing_show', {'id': category.id}) }}" class="btn btn-info">Show <i class="fa fa-eye"></i></a>
                                    <a href="{{ path('app_admin_category_edition_edit', {'id': category.id}) }}" class="btn btn-info">Edit <i class="fa fa-edit"></i></a>
                                    <a href="{{ path('app_admin_category_removing_remove', {'id': category.id}) }}" class="btn btn-info">Remove <i class="fa fa-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box-footer">

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/datatables.net/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $('#category-table-listing').DataTable({});
        });
    </script>
{% endblock %}